<ion-view title="Partners">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="partners">
        <div class="row">
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-divider">
                        <h2>MNOs</h2>
                    </div>

                    <div class="item item-image">
                        <img src="img/partners/mobile.jpg">
                    </div>

                    <a class="item item-icon-right assertive" href="#/app/home/partnerList">
                        View
                        <i class="icon ion-ios7-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-divider">
                        <h2>Kirana</h2>
                    </div>

                    <div class="item item-image">
                        <img src="img/partners/kirana.jpg">
                    </div>

                    <a class="item item-icon-right assertive" href="#/app/home/partnerList">
                        View
                        <i class="icon ion-ios7-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-divider">
                        <h2>FMCG</h2>
                    </div>

                    <div class="item item-image">
                        <img src="img/partners/fmcg.jpg">
                    </div>

                    <a class="item item-icon-right assertive" href="#/app/home/partnerList">
                        View
                        <i class="icon ion-ios7-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-divider">
                        <h2>Finance Institutes</h2>
                    </div>

                    <div class="item item-image">
                        <img src="img/partners/finance.jpg">
                    </div>

                    <a class="item item-icon-right assertive" href="#/app/home/partnerList">
                        View
                        <i class="icon ion-ios7-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
