<ion-view title="Redeem">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="back()">
            <i class="icon ion-ios7-arrow-back"></i> Back
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-calm" ng-click="redeem()">
            Redeem
        </button>
    </ion-nav-buttons>
    <ion-content class="partnerList">
       <div class="list card">
              <div class="item item-divider">
                  <h2>BodhiSutra - 1000 Points</h2>
              </div>

              <div class="item item-body">
                  <img class="full-image" src="img/vendors/BodhiSutra2.jpg">
                  <p>
                    Our English speaking course on phone is a highly effective program and produces outstanding results. Some highlights:
                      <ul>
                        <li>95% Student Satisfaction Rate</li>
                        <li>91% Session Attendance Rate</li>
                        <li>86% Monthly Renewal Rate</li>
                      </ul>
                  </p>
                  <p>Spoken English fluency gives you the confidence to face the world and shine brightly. Fulfill your dreams the smart way. <b>This offer includes 10 free classes which can be redeemed in the next 90 days.</b>
                  </p>
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-thumbsup"></i>
                  Like
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-chatbox"></i>
                  Comment
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  Share
                </a>
              </div>
          </div>
          <div class="row">
              <h1></h1>
          </div>
    </ion-content>
</ion-view>
