<ion-view title="Login">
    <ion-pane>
        <ion-content class="signUp">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Rahul">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Sharma">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="rahul.sharma@gmail.com">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="9538146662">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
              </label>
            </div>
            <div class="row">
              <div class="col col-50">
                <a class="button button-calm button-block" href="#/app/signUp">Sign Up</a>
              </div>
              <div class="col col-50">
                <a class="button button-calm button-block" href="#/app">Back</a>
              </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
